*.log
.DS_Store
/vendor
/node_modules
/.env
/.idea
/.vscode
/.DS_Store
/public/hot
/public/storage
/storage/*.key
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
HostelCRM.zip
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Logs
*.log

# macOS
.DS_Store

# Environment files
.env
.env.backup
.env.production
/auth.json

# IDE / Editors
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Node
/node_modules

# Laravel public
/public/build
/public/hot
/public/storage

# Laravel storage
/storage/*.key

