.pagination {
    justify-content: flex-end !important;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.circle.green {
    background-color: green;
}

.circle.red {
    background-color: red;
}

.circle.gray {
    background-color: #ccc;
}

.all-student-count p {
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #212529;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    color: #212529;
    margin: 0 0 8px 0;
}

tr.green-main td,
tr.green-main th {
    background: #44bc44;
    color: white;
}

tr.red-main td,
tr.red-main th {
    background: #ff9090;
    color: white;
}

tr.orange-main td,
tr.orange-main th {
    background: #ffd68a;
}

tr.attendance-red {
    background: red;
}

a.sidebar-link {
    gap: 10px;
}


/* show page calender page css start */

.calendar {
    margin: 30px auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.calendar-header {
    background: #ffffff;
    padding: 12px 16px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
    gap: 10px;
}

.calendar .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px 0;
}

.calendar .calendar-day {
    padding: 10px 0px;
    border: 1px solid #e9ecef;
    font-size: 14px;
    font-weight: 500;
    margin: 4px;
}

.calendar .calendar-day.present {
    background-color: #28a745;
    color: white;
}

.calendar-day.halfday {
    background-color: #ffc107;
    color: white;
}

.calendar .calendar-day.absent {
    background-color: #dc3545;
    color: white;
}

.calendar .legend {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
    font-size: 14px;
}

.calendar .legend span {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.calendar .legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.calendar .present-dot {
    background-color: #28a745;
}

.calendar .halfday-dot {
    background-color: #ffc107;
}

.calendar .absent-dot {
    background-color: #dc3545;
}

.calendar .weeks {
    background: #ffe3c6;
    border: 1px solid #ccc;
}

.attendence-details {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
    padding: 14px;
    border-radius: 11px;
}

.attendence-details .inner-box {
    padding: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
}

.attendence-details .inner-box h6 {
    color: #15923d;
    font-weight: 600;
    font-size: 16px;
}

/* show page calender page css start */







@media (max-width: 576px) {
    .calendar {
        max-width: 95%;
    }

    .calendar-day {
        font-size: 12px;
        padding: 8px 0;
    }
}